*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat'; 
    background: #E5E5E5;
}

.left-column .input {
    border:solid 1px;
    width: 400px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 6px;
    outline: none;
    background-color: white;
    margin-top:30px;
    margin-left: 272px;;
    outline: none;
}
.left-column .search-icon {
    position: relative;
     top: 0.4em;
     right:24em;
} 
.left-column .vector {
    position: relative;
    right: 4em;
    top: 0.4em;
} 
 ::placeholder {
position: relative;
left:3.5em;
top: 0.2em;
}

.right-column {
    /* position:absolute; */
    display: flex;
    float: right;
    justify-content: space-between;
    width: 10%;
    align-items: center;
    position: relative;
    bottom:3em;
    margin-right:40px;
}
span {
    float: right;
    position: relative;
    top: 0.1em;
    left:8.5em;
}
.side {
    position: fixed;
    left: 0;
    top: 0;
    width:250px;
    height: 100%;
    background-color: white; 
    overflow: scroll;
}
.side-bar{
    margin-top: 60px;
}
.side-bar a{
    color: #606060;
    display: block;
    text-decoration: none;
    padding-left: 40px;
    transition:0.6s ease;
    transition-property: background;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -2%;
    align-items: center;
    cursor: pointer;
}
.top{
    line-height: 15px;
}
.side-bar a:hover {
    background: #0053FF;
    color: white;
}
.side-bar img{
    padding-right: 10px;
}
.side-col-2 {
    margin-top: 40px;
    line-height: 37px;
}
.side-col-2 .support {
    margin-top:8px;
}
#logout{
    color:red;
    text-decoration: underline;
    margin-left:30px;
}
h3 {
    margin-top: 48px;
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    color: #00297D;
    margin-left: 46px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: transparent !important;
}
::-webkit-scrollbar-thumb{
    background: #bbbbbb;
    border-radius: 10px;
}

.main-content {
    margin-left: 280px;
    /* padding: 40px 50px 50px 250px; */
    overflow-y: scroll;
    width: 77%;
}
.button-group{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
    align-items: center;
}
.button{
    background-color: #EFF4FD;
    text-decoration:none;
    border-radius: 8px;;
}

.button-group #export{
    width: 119px;
    height: 46px;
    padding: 10px 15px;
    border: 1px solid #EFF4FD;
    align-items: center;
    margin-right: 13px;
}
.button-group #export img{
    margin-right: 10px;
    margin-left: 0px;
    /* vertical-align: middle; */
    vertical-align: top;
    /* margin-top: 10px; */
}
.button-group #import{
    width: 184px;
    height: 46px;
    padding: 10px 15px;
    border: 1px solid #EFF4FD;
    align-items: center;
}
.button-group #import img{
    margin-right: 10px;
    margin-left: 0px;
    /* vertical-align: middle; */
    vertical-align: top;
}
.button-group #delete {
    width: 108px;
    height: 43px;
    padding: 10px 25px;
    border: 1px solid #5C84D7;
}
.button-group #add{
    border: 1px solid #0053FF;
    width: 174px;
    height: 41px;
    background-color: #0053FF;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}
.button-group #add img{
    margin-right: 7px;
    margin-left: 0px;
    /* vertical-align: middle; */
    vertical-align: top;
    /* margin-top: 5px; */
}

.main-content .inventory-table{
        margin: 85px 0px 30px;
        box-shadow: 9px 1px 9px;
        background-color: white;     
}
table{
    width: 100%;
    /* border-collapse: collapse; */
    font-size: 16px;
    
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #C4C4C4;
    font-size: 16px;
    line-height: 20px;
    color: #303030;
    font-weight: 500;
}
td {
    line-height: 20px;
    color: #303030;
    font-weight: 500;
}
th{
    line-height: 30px;
    font-weight: 700;
}