* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  background: #e5e5e5;
}
main {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 100vh; */
}
.left-column {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.left-column .input {
  border: none;
  width: 23em;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 10px 0 #a0a0a0;
  outline: none;
}
.left-column .search-icon {
  position: absolute;
  left: 1.9rem;
}
.left-column .vector {
  position: absolute;
  left: 16.7em;
}
::placeholder {
  position: absolute;
  left: 5.5em;
}

.right-column {
  display: flex;
  justify-content: space-between;
  width: 15em;
  align-items: center;
  margin-right: 15px;
}
span {
  margin-top: 7px;
}
.side {
  /* position: fixed; */
  width: 22%;
  height: inherit;
  background-color: white;
  overflow: scroll;
}
.side-bar {
  margin-top: 60px;
}
.side-bar a {
  color: #606060;
  display: block;
  text-decoration: none;
  padding-left: 40px;
  transition: 0.6s ease;
  transition-property: background;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -2%;
  align-items: center;
  cursor: pointer;
}
.top {
  line-height: 15px;
}
.side-bar a:hover {
  background: #0053ff;
  color: white;
}
.side-bar img {
  padding-right: 10px;
}
.side-col-2 {
  margin-top: 40px;
  line-height: 37px;
}
.side-col-2 .support {
  margin-top: 8px;
}
#logout {
  color: red;
  text-decoration: underline;
  margin-left: 30px;
}
h3 {
  margin-top: 48px;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  color: #00297d;
  margin-left: 46px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}

.container {
  width: 75%;
  padding: 20px 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-operator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.operator1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19rem;
}
.btn-export {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  width: 38%;
  padding: 10px 18px;
  background: #eff4fd;
  box-shadow: 0px 0px 0px rgba(125, 125, 125, 0.15);
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #030085;
}
.btn-import {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  width: 55%;
  padding: 10px 15px;
  background: #eff4fd;
  box-shadow: 0px 0px 0px rgba(125, 125, 125, 0.15);
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #030085;
}

.operator2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}
.btn-delete {
  padding: 10px 20px;
  background: #ffffff;
  border: 1px solid #5c84d7;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px rgba(125, 125, 125, 0.15);
  border-radius: 8px;
  color: #5c84d7;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.btn-newSale {
  width: 60%;
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  padding: 10px 15px;
  background: #0053ff;
  box-shadow: 0px 0px 0px rgba(125, 125, 125, 0.15);
  border-radius: 8px;
  border: none;
  outline: none;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.table-container {
  background: #ffffff;
  box-shadow: 0 4px 10px 0 #e8e8e8;
  border-radius: 8px;
  padding: 20px 15px;
  margin-top: 20px;
}
.table {
  width: 100%;
  overflow: auto;
  /* overflow-x: auto; */
  /* overflow-y: auto; */
}
table {
  border-collapse: collapse;
}
th,
td {
  text-align: center;
  padding: 10px 10px;
}
tr {
  border-bottom: 1px solid #c4c4c4;
}

.col2 img,
.col6 img {
  margin-left: 15px;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0;
}
.table-footer span {
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #ff0000;
}
.table-footer-link {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-footer-link a {
  text-decoration: none;
  color: #0053ff;
  margin-right: 15px;
}
.table-footer-link a i {
  font-size: 20px;
  border: 1px solid #0053ff;
  border-radius: 8px;
  padding: 10px 15px;
}
